@import '@styles/variables.module.scss';
@import '@styles/mixin.module.scss';

.button {
  @include btn(175px, 42px, 4px, $primary_color);
  color: $white_color;
  margin-top: 20px;
  font-size: 14px;
  cursor: pointer;
  &:hover {
    background-color: $white_color1;
    color: $primary_color;
    border: 1px solid $primary_color;
    transition: background-color 0.3s;
  }
}
