@import '@styles/mixin.module.scss';
@import '@styles/variables.module.scss';

.container {
  padding: 20px;
  @include flex_box_custom(space-between, unset, 0px);
  flex-direction: column;
  height: 95%;
  button {
    width: 100%;
  }
}
