@import '@styles/mixin.module.scss';
@import '@styles/variables.module.scss';

.container {
  margin-top: 93px;
}

.containerStep {
  background-color: #fafafa;
  @include flex_box_custom(center, center, 0px);
  margin-bottom: 2.3vw;
  flex-direction: column;
  padding: 33px 0;
  .steps {
    @include flex_box_custom(center, center, 0px);
  }
  .stepper {
    @include flex_box_custom(center, center, 7px);
    cursor: pointer;
    .numberStep {
      background-color: #000;
      padding: 5px;
      @include radius_common(50%);
      width: 20px;
      height: 20px;
      color: $white_color;
      @include flex_box_custom(center, center, 0px);
    }

    .isDisableNumber {
      background-color: transparent;
      color: #898787;
      border: 1px solid #ccc;
    }
    .titleStep {
      font-size: 21px;
      color: $four_color;
    }

    .isDisableTitle {
      color: #9a9a9a;
    }
  }
  .line {
    min-width: 120px;
    height: 1px;
    background-color: #e1e1e1;
    margin: 0 30px;
  }
  .textNoti {
    padding-top: 45px;
  }
}

.containerContents {
  @include flex_box_custom(space-between, flex-start, 40px);
  padding-bottom: 80px;
  .cartTable {
    width: 50%;
    font-size: 14px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 20px;
    th {
      text-align: left;
      padding: 12px 0px;
      border-bottom: 1px solid #ddd;
      color: $primary_color;
      font-weight: 400;
      text-align: center;
      &:first-child {
        text-align: left;
      }
    }

    td {
      padding: 12px 15px;
      vertical-align: top;
      &:first-child {
        padding: 12px 0px;
        min-width: 300px;
      }
      &:nth-child(5) {
        select {
          padding: 8px 5px 8px 10px;
          color: $secondary_color;
          font-size: 14px;
          border: 1px solid #ccc;
        }
      }
      &:last-child {
        text-align: right;
        padding-right: 0;
      }
    }
    .productCell {
      display: flex;
      align-items: center;
      @include flex_box_custom(flex-start, flex-start, 20px);
    }

    .deleteBtn {
      font-size: 20px;
    }

    .productImage {
      width: 80px;
      height: 90px;
      object-fit: cover;
      border-radius: 4px;
    }

    .containerRow {
      @include flex_box_custom(center, flex-start, 20px);
    }

    .productName {
      font-weight: 400;
      color: $primary_color;
      margin-bottom: 4px;
      font-size: 16px;
    }

    .productSize {
      font-size: 13px;
      color: #777;
      color: $secondary_color;
    }

    .quantitySelect {
      padding: 6px 10px;
      border: 1px solid #ccc;
      @include flex_box_custom(center, center, 0px);
      color: $secondary_color;
      font-size: 14px;
    }

    .priceItem,
    .skuItem,
    .totalItem {
      color: #828282;
    }
  }

  .containerSummary {
    width: 50%;
    .containerTotal {
      padding: 30px;
      border: 1px solid #000;
      .title {
        font-size: 14px;
        color: $primary_color;
        width: 100%;
        padding-bottom: 10px;
        border-bottom: 1px solid #ccc;
      }
      .boxSubTotal {
        color: #888;
      }

      .boxSubTotal,
      .boxTotal {
        width: 100%;
        @include flex_box_custom(space-between, center, 0px);
        margin-top: 20px;
      }

      .boxTotal {
        width: 100%;
        font-size: 25px;
        margin-top: 20px;
      }

      .btnButton {
        width: 100%;
        button {
          width: 100%;
          margin-top: 10px;
        }
      }
    }
    .containerMethods {
      position: relative;
      margin-top: 40px;
      border: 1px solid #eee;
      padding: 20px;
      .titleMethods {
        position: absolute;
        left: 50%;
        top: -10px;
        width: 500px;
        text-align: center;
        transform: translate(-50%, 0);
        background-color: #fff;
        z-index: 99;
        span {
          color: red;
        }
      }
      .boxLogo {
        @include flex_box_custom(center, center, 20px);

        img {
          border: 1px solid #ccc;
          width: 50px;
          height: 30px;
          object-fit: contain;
        }
      }
    }
  }
}

.boxCoupon {
  margin-top: 15px;
  @include flex_box_custom(space-between, center, 0px);
  .inputCoupon {
    @include flex_box_custom(flex-start, center, 0px);
    width: 350px;
    input {
      padding: 10px 15px;
      border: none;
      border-radius: 0px;
      border: 1px solid #ccc;
      outline: none;
      flex: 1;
    }
    button {
      width: 40px;
      padding: 0;
      border: 1px solid #000;
      border-radius: 0px;
      height: 40px;
    }
  }
  .clearBtn {
    @include flex_box_custom(center, center, 0px);
    button {
      padding: 0px 20px;
      width: 230px;
      font-size: 12px;
      &:hover .clearTrash  {
        color: #fff;
      }
    }
    .clearTrash {
      color: #000;
      font-size: 15px;
    }
    .contentTrashBtn {
      @include flex_box_custom(center, center, 5px);
    }
  }
}
