@import '@styles/mixin.module.scss';
@import '@styles/variables.module.scss';

.container {
  padding: 93px 0 50px;
  .navigateSection {
    @include flex_box_custom(space-between, center, 0px);
  }
  .contentSection {
    margin: 15px 0 120px;
    @include flex_box_custom(space-between, flex-start, 0px);
    .boxImage {
      max-width: 600px;
      width: 100%;
      @include flex_box_custom(space-between, center, 10px);
      flex-wrap: wrap;
      .image {
        width: calc((100% / 2) - 5px);
        border-radius: 5px;
        height: 350px;
        cursor: zoom-in;
      }
    }
    .boxContent {
      width: 50%;
      .title {
        font-size: 24px;
        color: $four_color;
        font-weight: 400;
      }
      .price {
        font-size: 20px;
        color: $secondary_color;
      }
      .description {
        line-height: 25px;
      }
      .description,
      .titleSize {
        font-size: 16px;
        color: $third_color;
      }
      .boxSize {
        @include flex_box_custom(flex-start, center, 15px);
        .sizeItem {
          @include flex_box_custom(center, center, 0px);
          border: 1px solid #e1e1e1;
          padding: 8px 12px;
          font-size: 14px;
          color: $secondary_color;
          transition: all 0.3s linear;
          &:hover {
            border: 1px solid #868484;
            cursor: pointer;
          }
        }
        .active {
          border: 1px solid #555;
        }
      }
      .clear {
        margin: 20px 0;
        text-decoration: underline;
        cursor: pointer;
      }
      .functionInfo {
        .boxAddToCart {
          margin-top: 15px;
          @include flex_box_custom(flex-start, center, 15px);
          .btnAddCart {
            @include flex_box_custom(center, center, 5px);
            font-size: 12px;
          }
          .btnCart {
            flex-grow: 1;
          }
          .adjustQuantity {
            @include flex_box_custom(center, center, 0px);
            cursor: pointer;
            height: 38px;
            div {
              border: 1px solid #e1e1e1;
              padding: 0px 15px;
              height: 100%;
              @include flex_box_custom(center, center, 0px);
            }
            div:first-child,
            div:last-child {
              padding: 0 4px;
            }
          }
        }
        .btnBuyNow {
          @include flex_box_custom(center, center, 5px);
          font-size: 12px;
          width: 100%;
        }
        .boxOr {
          @include flex_box_custom(center, center, 5px);
          margin: 15px 0;
          .line {
            width: 100%;
            height: 1px;
            background-color: #e1e1e1;
          }
        }
        .boxBtnBuy {
          width: 100%;
          button {
            width: 100%;
          }
        }
        .boxFunction {
          margin-top: 25px;
          @include flex_box_custom(flex-start, center, 10px);
          .iconFunction {
            font-size: 25px;
            border-radius: 50%;
            border: 1px solid #e1e1e1;
            padding: 10px;
          }
        }
      }
      .textInfo {
        color: $secondary_color;
      }
    }
  }
}

.containerInfo {
  font-weight: 300;

  div:last-child {
    border-bottom: unset;
  }

  .itemInfo {
    @include flex_box_custom(flex-start, center, 0px);

    border-bottom: 1px solid #e1e1e1;
    padding: 15px 0px;

    div {
      width: 50%;
    }

    .title {
      color: $secondary_color;
    }

    .content {
      color: $third_color;
    }
  }
}

.containerReview {
  .reviews {
    padding-bottom: 15px;
    border-bottom: 1px solid #e1e1e1;
  }

  .noreview {
    font-size: 14px;
    color: $third_color;
    margin-bottom: 20px;
  }

  .replyForm {
    padding-top: 30px;

    .commentReplyTitle {
      font-size: 14px;
      margin-bottom: 14px;
      padding-bottom: 14px;
      border-bottom: 1px solid #e1e1e1;
      color: $third_color;
    }

    .commentTotes {
      font-size: 14px;
      color: $third_color;
      margin-bottom: 20px;
    }

    form {
      display: flex;
      flex-direction: column;
      gap: 20px;

      .commentFormCookiesConsent {
        display: flex;
        align-items: flex-start;
        gap: 5px;

        input {
          margin-top: 3px;
        }

        span {
          color: $third_color;
        }
      }

      .btnSubmit {
        width: 100%;
        max-width: 110px;
      }
    }
  }
}

.formItem {
  display: flex;
  flex-direction: column;
  gap: 5px;

  .boxItemStar {
    display: flex;
    gap: 25px;
  }

  label {
    color: $third_color;

    span {
      color: #c62828;
    }
  }

  input,
  textarea {
    border: 1px solid #e1e1e1;
    padding: 8px 15px;
    outline: none;

    &:focus {
      border: 1px solid $secondary_color;
    }
  }
}

.activeDisabledBtn {
  cursor: not-allowed;
  border: none;
  opacity: 0.7;
  background-color: #333;
  &:hover {
    background-color: #333;
    color: $white_color;
    border: none;
  }
}

.loading {
  height: 1000px;
    @include flex_box_custom(center, center, 0px);
    background-color: #fffafa;
  
}