@import '@styles/variables.module.scss';
@import '@styles/mixin.module.scss';

.container {
  @include flex_box_custom(space-between, flex-start, 20px);
  margin-top: 80px;
  width: 100%;
}

.containerItemRight {
  @include flex_box_custom(center, center, 20px);
  width: 50%;
}
