@import '@styles/mixin.module.scss';
@import '@styles/variables.module.scss';

.container {
  padding-top: 93px;
  .functionBox {
    @include flex_box_custom(space-between, center, 0px);
    color: $secondary_color;
    font-size: 14px;
  }
  .btnBack {
    cursor: pointer;
  }
}

.containerBanner {
  background-image: url('../../assets/icons/images/bannershop.jpeg');
  height: 279px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  @include flex_box_custom(center, center, 0px);
  flex-direction: column;
  margin-top: 15px;

  .title {
    font-size: 28px;
    color: $four_color;
    font-weight: 400;
  }
  .containerCountDown {
    @include flex_box_custom(center, center, 10px);
  }
}

.containerFilter {
  @include flex_box_custom(space-between, center, 0px);
  margin-top: 15px;
  .containerSort {
    @include flex_box_custom(center, center, 15px);
  }
  .containerShow {
    @include flex_box_custom(center, center, 10px);
  }
  .selectBox {
    padding: 8px 14px;
    color: $secondary_color;
    font-size: 14px;
    border: 1px solid #ccc;
  }
}
