.slick-arrow {
  color: #333 !important;
  position: absolute;
  width: 30px;
  height: 30px;
  z-index: 999;
  opacity: 0;
  transition: opacity 0.5s linear;
}

.slick-prev {
  left: 0;
}
.slick-next {
  right: 0;
}

.slick-slider:hover .slick-arrow {
  opacity: 1;
}
