@import '@styles/mixin.module.scss';
@import '@styles/variables.module.scss';

.container {
  @include flex_box_custom(center, center, 0px);
  left: 0;
  right: 0;
}

.topHeader {
  position: absolute;
  top: 0;
}

.containerFixed {
  position: fixed;
  top: -83px;
  z-index: 999;
  background-color: #ffffffe6;
  box-shadow: 2px 0px 12px 0px rgba(0, 0, 0, 0.15);
  backdrop-filter: blur(5px);
  transform: translateY(83px);
  transition: transform 0.5s linear;
}

.containerHeader {
  display: flex;
  align-items: center;
  padding: 5px 0;
  justify-content: space-between;
  height: 83px;
  width: 1250px;
}

.containerBoxIcon,
.containerBox {
  @include flex_box_custom(center, center, 15px);
}

.containerMenu {
  @include flex_box_custom(center, center, 20px);
  margin-left: 20px;
}

.boxIcon {
  @include radius_common(50%);
  @include flex_box_custom(center, center, 0px);
  width: 26px;
  height: 26px;
  background-color: $primary_color;
  color: $white_color;
}

.IconRight {
  font-size: 25px;
  opacity: 0.7;
  cursor: pointer;
}

.menu {
  font-size: 15px;
  padding-top: 8px;
  cursor: pointer;
  color: $primary_color;
  position: relative;
}

.menu::after {
  content: '';
  display: block;
  width: 100%;
  background-color: $primary_color;
  height: 3px;
  margin-top: 6px;
  transform: scale(0);
  transform-origin: right;
  transition: transform 0.5s;
}

.menu:hover::after {
  transform: scale(1);
}

.subMenu {
  position: absolute;
  background-color: #fff;
  width: 100%;
  padding: 10px;
  top: 35px;
  @include flex_box_custom(center, center, 0px);
}
